<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
	<style>
	h1 {
		color: green;
	}
	</style>
</head>
<body>
	{% if current_user.is_authenticated %}
	<h1>You are logged in</h1>
    <a href="/create_task">Create new task</a><br>
	<a href="/tasks">My tasks list</a><br>
	<a href="/logout">Logout</a>
	{% else %}
	<h1>You are not logged in</h1>
	<nav>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Create account</a></li>
		</ul>
	</nav>
	{% endif %}
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Task&Plans Manager!</h1>
        <p>This application helps you manage your daily tasks efficiently and stay organized.</p>
		<br>
        <div class="buttons">
            <a href="{{ url_for('register') }}" class="button">Register</a>
            <a href="{{ url_for('login') }}" class="button">Login</a>
        </div>
    </div>
</body>
</html>
